.text {
    color: rgb(0, 128, 128);
    font-family: 'Times New Roman', Times, serif;
}
.header-menu-ul-center {
    list-style-type: none;
    height: 60px;
    margin-left: 20%;
    margin-top: 0px;
    font-size: 20px;
    padding: 0px;
    display: flex;
}
.header-menu-li {
    position: relative;
    display: inline-grid;
    width: 90px;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header-menu-li:hover {
    color: rgb(221, 221, 221);    
}
.header-menu-sel {
    color: rgb(0, 76, 48);
    background: rgb(221, 221, 221);
}
.header-menu-sel:hover {
    color: rgb(0, 76, 48);    
}
.states-menu-ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    margin-left: 18%;
    height: 36px;
}
.states-menu-li {
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 90px;
    margin-right: 10px;
}
.states-menu-li:hover {
    color: rgb(0, 76, 48);    
    border-bottom: 3px solid rgb(0, 76, 48);
}
.states-menu-li-sel {
    border-bottom: 3px solid rgb(0, 76, 48);
}
.event_li {
    list-style-type: disclosure-closed;
    margin-left: 15px;
}
.inputProcess {
    width: 90px;
    margin: 10px;
    display: inline;
}
/* Prueba: datos de entrada */
.input_table {
    border-spacing: 0px;
    margin-right: 10px;
}
.inputText_td {
    height: 35px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: rgb(0, 128, 128);
    border: solid 1px rgb(0, 128, 128);
    color: white;
}
.inputValue_td {
    height: 35px;
    width: 80px;
    border: solid 1px rgb(0, 128, 128);
    background: white;
    color: rgb(0, 128, 128);
    
}
.inputValue_input {
    width: inherit;
    height: inherit;
    border: 0px;
    text-align: center;
}


.array-queue {
    margin: 1px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.array-queue-1 {
    background-color: #43c743;
    border: outset 2px darkseagreen;
}
.array-queue-0 {
    background-color: #cc3737;
    border: outset 2px rgb(236, 132, 132);
}
.tooltip-text {
    visibility: hidden;
    background-color: rgba(240, 241, 125, 0.877);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    width: 30px;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    position: relative;
}
.array-queue:hover .tooltip-text {
    visibility: visible;
}
.priorityQueueNumber {
    border: solid 1px black;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
.priorityQueue_div {
    display: inline-block;
    margin-left: 15px;
}
.div-main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}
.div-center {
    text-align: center;
}
.div-states {
    margin-top: 5px;
}
.div-nav {
    margin-left: 15%;
}
.high_margin {
    margin-left: 200px;
}
.no-wrap {
    white-space: pre-wrap;
}
.table-italic {
    font-style: italic;
    color: rgb(48, 48, 48);
    margin: 20px;
}
.image-right {
    margin-right: 10%;
    float: right;
}
.state-left {
    vertical-align: top;
    white-space: pre;
    font-weight: bold;
    padding-top: 10px;
}
.state-right {
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
}
/* tablas */
.plain_table {
    margin-top: 20px;
    text-align: center;
    border-radius: 6px;
    border-spacing: 0px;
    background: rgb(221, 221, 221);
}
.plain_table-th {
    height: 30px;
    background: rgb(0, 76, 48);
    color: white;
}
.plain_table-row td {
    color: black;
}
.plain_table-row:hover {
    cursor: default;
    background: white;
}
.th_ptable {
    padding-left: 15px;
    padding-right: 15px;
}
.th_tooltip {
    position: relative;
}
.th_tooltip:hover .th_tooltip_text {
    display: block;
}
.th_tooltip_text {
    background-color: rgb(184, 245, 176);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 12px;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    top: -120%;
    left: -40%;
    position: absolute;
    z-index: 10;
    width: 150%;
}
.colored_table {
    text-align: center;
    border-radius: 6px;
    border-spacing: 0px;
    border: solid 1px rgb(0, 76, 48);
    background: white;
}

 /*Tabla de clase */
.classTable {
    text-align: center;
    border-radius: 6px;
    border-spacing: 0px;
    border: solid 1px rgb(0, 103, 103);
    background: white;
}
/* Cabecera principal tabla de clases */
.main_classTable_row {
    background: rgb(0, 103, 103);
    color: white;
    font-weight: bold;
}
.main_classTable_th {
    padding-left: 10px;
    padding-right: 10px;
}
/* Cabecera secundaria tabla de clases */
.sub_classTable_row {
    background: rgb(221, 221, 221);
    font-weight: bold;
}
.sub_classTable_th {
    padding-left: 5px;
    padding-right: 5px;
}
.rightBorder_td {
    border-right: solid 1px rgb(0, 103, 103);
}

.row_ptable td {
    background: white;
}
.row_ptable:hover {
    cursor: default;
    font-style: italic;
}
/* procesos */
.pr_zombie {
    color:  rgb(51, 49, 49);
}
.pr_sleeping {
    color: rgb(24, 124, 218);
}
.pr_run_user {
    color: rgb(76, 172, 38);
}
.pr_run_kernel {
    color: rgb(45, 129, 12);
}
.pr_ready {
    color: rgb(207, 50, 50);
}

/* Formatos por tipo */
button:hover {
    background: rgb(0, 76, 48);
    cursor: pointer;
}
button {
    width: 90px;
    height: 35px;
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid rgb(0, 76, 48);
    border-radius: 6px;
    background: rgb(0, 128, 128);
    color: white;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}
select {
    height: inherit;
    border: white;
}

form {
    display: inline-flex;
}

/* Formatos por id */
#header_div {
    margin: 0px;
    height: 60px;
    background:rgb(0,76,48);
}
#header_menu_div {
    margin: 0px;
    height: 36px;
    background: rgb(221, 221, 221);
}
#summary_table {
    width: 500px;
}
#barChart_td {
    /*position: relative;*/
    height: 450px;
    width: 500px;
    /*width: 30vw;*/
    /*margin-top: 15px;*/
 }
 

