.header-menu {
    display: inline-block;
}
.header-menu-ul {
    list-style-type: none;
    float: left;
}
.header-menu-li {
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.header-menu-li:hover {
    color: rgb(4, 99, 4);    
}
.header-menu-sel {
    border-bottom: 2px solid rgb(4, 99, 4);
}
.inputProcess {
    width: 90px;
    margin: 10px;
    display: inline;
}
.addButton {
    margin: 20px;
    background:  rgb(39, 90, 228);
    color: white;
    border: 2px solid rgb(39, 90, 228);
}
.startButton {
    background: rgb(4, 99, 4);
    color: white;
    border: 2px solid rgb(4, 99, 4);
}
.navigationButton {
    background: rgb(173, 68, 7);
    color: black;
    margin: 20px;
}
.array-queue {
    margin: 1px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.array-queue-1 {
    background-color: #43c743;
    border: outset 2px darkseagreen;
}
.array-queue-0 {
    background-color: #cc3737;
    border: outset 2px rgb(236, 132, 132);
}
.tooltip-text {
    visibility: hidden;
    background-color: rgba(240, 241, 125, 0.877);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    width: 30px;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    position: relative;
}
.array-queue:hover .tooltip-text {
    visibility: visible;
}
.div-main {
    margin-left: 20px;
}
.div-center {
    text-align: center;
}
.div-states {
    margin-top: 10px;
    margin-bottom: 10px;
}
.separator-line {
    width: 700px;
    text-align: left;
    margin-left: 40px;
}
.pr_zombie {
    background: rgb(54, 52, 52);
    color: white;
}
.pr_sleeping {
    background: rgb(138, 191, 241);
}
.pr_run_user {
    background: rgb(168, 240, 139);
}
.pr_run_kernel {
    background: rgb(74, 211, 20);
}
.pr_ready {
    background: rgb(236, 116, 116);
}
.pr_class_header {
    background: rgb(192, 190, 190);
}
.no-wrap {
    white-space: pre-wrap;
}
.table-italic {
    font-style: italic;
    color: rgb(48, 48, 48);
    margin: 20px;
}
.top {
    vertical-align: top;
}
.bold {
    font-weight: bold;
}
Button:hover {
    border: 2px solid rgb(0, 0, 0);
}
button {
    width: 90px;
    height: 30px;
}
h1 {
    color: rgb(39, 90, 228);
}
body {
    margin: 0px;
}
#header_div {
    margin: 0px;
    height: 80px;
    background:rgb(4, 99, 4);
}

